
body{
   background: url("/images/Lines_on_Twirl_by_ViCoDe.jpg") no-repeat center center fixed;
  background-position: center;
  background-size:cover;
}

  #topbar {
  height: 3em;
  margin: 0;
  border-bottom-right-radius: 1.0em;
  border-bottom-left-radius: 1.0em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 100%;
  line-height: 1.5em; }

  #eo {
  left: 0.3em;
  top: 0.2em; }

  #topbar input[type="password"] {
  height: 12px; }

  #topbar input[type="text"] {
    height: 12px;
   }

   section {
transform: translateY(3em);
height: calc(100vh - 6em);
    /*margin-left: 1.5em;*/
   }

   #event_info {
   background: rgba(12, 102, 240, 0.8);
  }


input[type="submit"]{
  font-size:10px;
}


#topbar > form > div:nth-child(1) > button{
  vertical-align: bottom;
}

#topbar > form > div:nth-child(2) > button{
  vertical-align: top;
}

#topbar > form > div > button{
  background: rgba(250, 250, 250, 0.6);
  color: rgba(12, 102, 240, 0.8);
  height:18px;
  margin-left: 0;
  width:18px;
  border-radius:4px;
  padding-top:0;
  margin-right: 0.6em;
  font-size:8px;
  transition:0.2s;
}

#comments-form input[type="submit"]{
  width:100%;
  min-width: 200px;
  max-width: 500px;
  font-size:16px;
  margin-bottom:30px;
}

 #eo {
  left: 0.7em;
  top: 0.5em;
  font-size:30px; 
  transition:0.2s ease 0.3s;
}

#logo img{
  height: 30px;
  top:0;
  transition:0.2s ease 0.3s;
}