<link rel="stylesheet" href="/stylesheets/forms.css">

<section id="content">


<% if @planner && @planner.errors.any? %>
  <div>
    <strong>Some issues with your message, please fix them:</strong>
    <ul>
      <% @planner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="cols right">
           <label>Username</label><br>
            <label>Email</label><br>
                      <label>Phone</label><br> 
       <label>Password</label><br>
    <label>Image</label><br>
  </div>
  <div class="cols left">

<form action="/signup/event_planner" id="new-event" method="post" enctype='multipart/form-data' runat="server">

  <div>
    <input 
      type="text" 
      name="name" 
      value="<%= @planner.name %>"/>
  </div>
  <div>
    <input 
      type="text" 
      name="email" 
      value="<%= @planner.email %>"/>
  </div>
  <div>
    <input 
      type="text" 
      name="phone_number" 
      value="<%= @planner.phone_number %>"/>
  </div>
  <div>
    <input 
      type="password" 
      name="password"/>
  </div>
  <div>


    <label id="file-label" for="file-input"></label>
      <input id="file-input" style="display:none;" type="file" name="photo" accept=".jpg,.gif,.png" required >    



      <script>
document.querySelector('input[type="file"]').onchange = 
  function(){
    document.querySelector('#file-label').innerHTML=this.files[0].name
  }
      </script>

  </div>      
  <div>
    <input type="submit"/>
  </div>

</form>

</div>

</section>