<link rel="stylesheet" href="/stylesheets/forms.css">

<section id="content">


<% if @user && @user.errors.any? %>
  <div>
    <strong>Some issues with your message, please fix them:</strong>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="cols right">
           <label>Username</label><br>
            <label>Email</label><br>
       <label>Password</label><br>
    <label>Image</label><br>
  </div>
  <div class="cols left">



<form action="/signup" id="new-event" method="post" enctype='multipart/form-data' runat="server">

  <div>
    <input 
      type="text" 
      name="name" 
      value="<%= @user.name %>"/>
  </div>
  <div>
    <input 
      type="text" 
      name="email" 
      value="<%= @user.email %>"/>
  </div>
  <div>
    <input 
      type="password" 
      name="password"/>
  </div>
  <div>

 <input type="file" name="photo" accept=".jpg,.gif,.png" required> 
  </div>      
  <div>
    <input type="submit"/>
  </div>

  <input name="invisble" style="display:none;">

</form>


</div>

</section>