
<style>
  .row { outline:1px solid red; }
  .container { outline: 1px solid green;}
  /*div[class|=col] { outline: 1px solid blue; }*/
  #picture { margin-top: -80px }
</style>

<div class="container-fluid">
  <div class="row" id = "picture">
    <div class="col-md-2">
        <img src="http://placehold.it/1024x300" />
    </div>
  </div>
  <div class="row" id="body">
    <div class="col-md-2 col-xs-12">
      <div class="col-md-12" id = "map">
        <img src="http://placehold.it/500x500" class="img-thumbnail" id = "picture"/>
      </div>
      <div class="col-md-12" id = "name">
        <img src="http://placehold.it/300x100"  class="img-thumbnail"/>
      </div>
      <div class="col-md-12" id = "website">
        <img src="http://placehold.it/300x100" class="img-thumbnail"/>
      </div>
      <div class="col-md-12" id = "calendar">
        <img src="http://placehold.it/300x100" class="img-thumbnail"/>
      </div>
    </div>
    <div class="col-md-8 col-xs-12">Column2</div>
    <div class="col-md-2 col-xs-12">Column3</div>
  </div>

</div>
