<% unless current_user.nil? && current_planner.nil? %>

  <form action="/logout" method="post">
      <input type="submit" value="logout"/>
  </form>

<% end %>

<form method="post" action="/events/messages">
  <textarea name="comment"></textarea><br/>
  <input type="text" name="title">
  <input type="submit">
</form>


