  <link rel="stylesheet" type="text/css" href="../stylesheets/jquery.datetimepicker.css"/ >
  <script src="../javascript/jquery.datetimepicker.js"></script>

<form action="/events" method="post">
  <div>
    <label>Picture URL</label>
      <input type="text" name="picture_url" value="<%= @event.picture_url %>">
  </div>

  <div>
    <label>Event Name</label>
      <input type="text" name="name" value="<%= @event.name %>">
  </div>
  <div>

  <div>
    <label>Description</label>
      <input type="text" name="description" value="<%= @event.description %>">
  </div>

  <div>
    <label>Website</label>
      <input id = "website" type="text" name="link_url" value="<%= @event.link_url %>">
  </div>

  <div id = "datetimepicker"></div>
  
  <div>
    <input type="submit" value="Submit">
  </div>

</form>

<script>jQuery('#datetimepicker').datetimepicker({
  format:'d.m.Y H:i',
  inline:true,
  lang:'ru'
}); </script>