<style type="text/css">
  #map_canvas {
    width:100%;
    min-height:100vh;
  }
</style>

<div id='map_canvas'></div>

<script>
  var events = <%= @events_json %>
  var venues = <%= @venues_json %>
</script>

<script src="javascript/infobubble.js"></script> 
<script src="javascript/map.js"></script> 
<script src="javascript/geopo.js"></script>


 






