<form action="/login" method="post">
  <div>
    <input type="checkbox" name="planner"/>
  </div>
  <div>
  username
    <input 
      type="text" 
      name="name" />
  </div>
  <div>
  password
    <input 
      type="password" 
      name="password" />
  </div>

  <div>
    <input type="submit"/>
  </div>
</form>