  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css">

<style>
  *{
    border:1px solid red;
  }
</style>

<div class="container">

<div class="row" id = "header">
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="col-md-2 col-xs-12"> 
        <div class="container">
          Column1
        </div>
    </div>
    <div class="col-md-8 col-xs-4"> Column2
    </div>
    <div class="col-md-2 col-xs-2"> Column3
    </div>
  </nav>
</div>
<div class="row" id = "picture">
  <div class="col-md-2">
  </div>
</div>
<div class="row" id = "body">
  <div class="col-md-2 col-xs-12"> Column1
    <div class="col-md-12" id = "map">Map
    </div>
    <div class="col-md-12" id = "name">Name
    </div>
    <div class="col-md-12" id = "website">Website
    </div>
    <div class="col-md-12" id = "calendar">Calendar
    </div>
  </div>
  <div class="col-md-8 col-xs-12"> Column2
  </div>
  <div class="col-md-2 col-xs-12"> Column3
  </div>
</div>

</div>